@import '../../../../content/scss/custom-variables';

.container-pagina-programa {
  section.section-encabezado-programa {
    background-color: $color-red-light;
    padding-left: 2rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    .continer-name-title-programa {
      width: 70%;
      margin-bottom: 2.5rem;
      h2.nombre-programa {
        color: $color-gris;
        font-size: 30px;
      }
    }
    .body-informacion {
      .container-opcion {
        margin-bottom: 0.5rem;
        .title-opcion {
          font-size: 20px;
          color: $color-red;
        }
        .option {
          font-size: 20px;
          color: $color-gris;
        }
      }
    }
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  section.informacion_presentacion {
    .card-container-presentacion {
      width: 300px;
    }
  }
}
