@import '../../../../content/scss/custom-variables';

.container-pagina-programa {
  section.section-encabezado-programa {
    background-color: $color-red-light;
    padding-left: 2rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    .continer-name-title-programa {
      width: 70%;
      margin-bottom: 2.5rem;
      h2.nombre-programa {
        color: $color-gris;
        font-size: 30px;
      }
    }
    .body-informacion {
      .container-opcion {
        margin-bottom: 0.5rem;
        .title-opcion {
          font-size: 20px;
          color: $color-red;
        }
        .option {
          font-size: 20px;
          color: $color-gris;
        }
      }
    }
    img {
      width: 100%;
      max-height: 350px;
      object-fit: cover;
    }
  }
  section.informacion_presentacion {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
    .swiper-button-disabled {
      display: none;
    }
    .swiper-button {
      &-next {
        color: $color-dark;
        right: 30px;
        font-weight: bolder;
      }
      &-prev {
        color: $color-dark;
        left: 30px;
        font-weight: bolder;
      }
    }
    .card-container-presentacion {
      max-width: 80%;
      .container-title {
        h1 {
          margin-bottom: 2rem;
          text-align: center;
          color: $color-gris;
          font-size: 40px;
        }
      }
      .body-descripcion {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        margin-top: 2rem;
        p {
          font-size: 25px;
          color: $color-gris;
          white-space: pre-line;
        }
      }
    }
  }
  section.caracteristicas_programa {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
    margin-bottom: 5rem;
    .container-title_carateristicas {
      max-width: 40%;
      width: 40%;
      margin-bottom: 3rem;
      h1 {
        color: $color-gris;
        font-size: 40px;
        text-align: center;
        margin-bottom: 1rem;
      }
    }
    .body_caracteristicas {
      // padding-top: 3rem;
      .card-custom {
        border-radius: 16px;
        width: 300px;
        height: 400px;
        border: 1px solid $color-red;
        box-shadow: 0 14px 10px $color-red-light;
        .face {
          &.face1 {
            z-index: 1;
            // transform: translateY(100px);
            .content {
              img {
                max-width: 90px;
                margin-bottom: 1rem;
              }
              h2.title {
                color: $color-gris;
                font-size: 25px;
              }
            }
          }
          &.face2 {
            display: none;
          }
        }
        &:hover {
          width: calc(100% - 40px);
          max-width: 410px;
          height: 500px;
          margin-top: 1rem;
          margin-bottom: 1rem;
          overflow-y: auto;
          .face {
            &.face1 {
              display: none !important;
            }
            &.face2 {
              display: block !important;
              padding: 2rem;
              height: 100%;
              .content {
                h2 {
                  color: $color-gris;
                  font-size: 25px;
                  text-align: center;
                }
                p {
                  color: $color-dark;
                  font-size: 18px;
                  white-space: pre-line;
                }
                .btn_show_plan_estudio {
                  background: $color-red;
                  color: $color-amarillo;
                  width: 100%;
                  height: 50px;
                  border-radius: 16px;
                  font-size: 20px;
                  &:hover {
                    background: $primary-color;
                    color: $color-gris-light;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  section.sedes_mapa_programa{
    .container-title_sede {
      max-width: 40%;
      width: 40%;
      margin-bottom: 3rem;
      h1 {
        color: $color-gris;
        font-size: 40px;
        text-align: center;
        margin-bottom: 1rem;
      }
    }
  }
  section.documentos_programa {
    padding-top: 0.5rem;
    padding-bottom: 4.5rem;
    margin-bottom: 5rem;
    .container-title_documentos {
      max-width: 40%;
      width: 40%;
      margin-bottom: 3rem;

      h1 {
        color: $color-gris;
        font-size: 40px;
        text-align: center;
        margin-bottom: 1rem;
      }
    }
    .body_documentos_programa {
      margin-top: 3rem;
      .col_container_archivo {
        .container_documento_programa {
          background: $color-gris-light;
          max-width: calc(100% - 15px);
          width: calc(100% - 15px);
          div{
            &:first-child {
              // max-width: calc(100% - 90px);
              width: 80%;
              h3 {
                color: $color-gris;
                font-size: 20x !important;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 100%;
                white-space: nowrap;
                display: inline-block;

              }
            }
            &:nth-child(2) {
              width: 20%;
            }
          }
          button {
            &.btn_ver_archivo_documento {
              width: 100%;
              height: 100%;
              color: $color-red;
              font-size: 20px;
              &:hover {
                color: $color-gris-light;
                background: $primary-color;
              }
            }
          }
        }
      }
    }
    @media (min-width: 992px) {
      .body_documentos_programa {
        .col_container_archivo {
          width: 60%;
        }
      }
    }
  }
  section.redes_sociales_programa {
    padding-top: 0.5rem;
    padding-bottom: 4.5rem;
    margin-bottom: 5rem;
    .container-title_nuestras_redes {
      h3 {
        color: $color-gris;
        font-size: 40px;
        text-align: center;
        margin-bottom: 1rem;
        margin: 0px;
      }
    }
    div.dividor {
      height: 120px;
    }
    .conatiner_redes_body {
      padding-left: 1rem;
      padding-right: 1rem;
      .container_red_social_item {
        a {
          img {
            width: 60px;
          }
        }
      }
    }
  }
  section.opciones_informacion_adicional {
    margin-bottom: 4rem;

    .card-container-opciones-adicionales {
      max-width: 25vw;
      height: 380px;
      .content_image {
        img {
          width: 100%;
          height: 15vw;
          object-fit: cover;
        }
      }
      .body {
        background: $color-gris-light;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        a {
          &:hover {
            text-decoration: none;
          }
        }
        .title_opcion {
          h3 {
            color: $color-dark;
            font-size: 22px;
            margin: 0px;
          }
        }
        .texto {
          p {
            color: $color-gris;
            font-size: 18px;
            margin: 0px;
            font-weight: normal !important;
          }
        }
      }
      .link_info_adicional {
        &:hover {
          text-decoration: none;
          .body {
            background: $primary-color;
            .title_opcion {
              h3 {
                color: $color-gris-light;
              }
            }
            .texto {
              p {
                color: $color-gris-light;
              }
            }
          }
        }
      }
    }
  }
  .container_spinner {
    span.text-danger {
      color: $color-red  !important;
    }
  }
}
