@import '../../../../content/scss/custom-variables';

.container_formulario_profesor {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 3rem;
  padding-bottom: 3rem;

  section.header_arrow {
    padding-bottom: 2rem;

    img {
      max-width: 30px;
    }

    h2.title_formulario_return {
      color: $color-gris;
      font-size: 28px;
      margin-bottom: 0px !important;
    }
  }
  section.profesor_formulario {
    .container_upload_image {
      background: $color-gris-light;
      height: 350px;
      margin-bottom: 1.5rem;

      img.image_profesor {
        max-width: 100%;
        width: 100%;
        height: calc(100% - 70px);
        object-fit: cover;
      }

      a {
        background: $color-red-light;
        height: 70px;
        width: 100%;

        label {
          margin: 0px;
          width: 100%;
          cursor: pointer;

          img {
            max-width: 30px;
          }
        }

        &>input {
          display: none;
        }
      }
    }
    label {
      color: $color-gris;
      font-size: 20px;

      &.campo_requerido::after {
        content: ' *';
        color: $color-red;
      }

      span.label_important {
        color: $color-red;
        font-size: 5px;
      }
    }
    section.buttons_formulario {
      button {
        width: 150px;
        height: 50px;
        border-radius: 16px;
        font-size: 20px;

        &.btn_cancel {
          background: transparent;
          border: 1px solid $color-red;
          color: $color-red;

          &:hover {
            background: $color-red;
            color: $color-amarillo;
          }
        }

        &.btn_guardar {
          background: $color-red;
          color: $color-amarillo;

          &:hover {
            background: $primary-color;
            color: $color-gris-light;
          }
        }
      }
    }
  }
  .seccion_estudios_profesor {
    margin-top: 2.5rem;
    label {
      color: $color-gris;
      font-size: 20px;
    }
    button {
      height: 50px;
      border-radius: 16px;
      font-size: 20px;

      &.btn_agregar_estudio_profesor {
        width: 320px;
        background: $color-red;
        color: $color-amarillo;

        &:hover {
          background: $primary-color;
          color: $color-gris-light;
        }
      }
    }
    .contenido_listado_estudios {
      .titulo_academico_item {
        margin-bottom: 1rem;

        .container_name_titulo {
          max-width: calc(100% - 260px) !important;

          h3 {
            color: $color-dark;
            font-size: 20px;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }

        a.opcion_titulo_academico {
          padding: 0.5rem;

          img {
            max-width: 30px;

          }

          &:hover {
            background-color: $color-red-light;
          }
        }
      }
    }
  }
  section.seccion_cursos_profesor {
    margin-top: 2.5rem;

    label {
      color: $color-gris;
      font-size: 20px;
    }

    button {
      height: 50px;
      border-radius: 16px;
      font-size: 20px;

      &.btn_agregar_materia_profesor {
        width: 320px;
        background: $color-red;
        color: $color-amarillo;

        &:hover {
          background: $primary-color;
          color: $color-gris-light;
        }
      }
    }
    .contenido_listado_materias {
      .curso_materia_item {
        margin-bottom: 1rem;

        .container_name {
          max-width: calc(100% - 260px) !important;

          h3 {
            color: $color-dark;
            font-size: 20px;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }

        a.opcion_curso_materia {
          padding: 0.5rem;

          img {
            max-width: 30px;

          }

          &:hover {
            background-color: $color-red-light;
          }
        }
      }
    }
  }
  .tab {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    overflow: hidden;

    &-label {
      border-radius: 16px;
      border: 1px solid $color-red;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      padding: 1em;
      background: $midnight;
      font-weight: bold;
      cursor: pointer;

      /* Icon */
      &:hover {
        background: darken($color-gris-light, 10%);
      }

      &::after {
        content: '\276F';
        width: 1em;
        height: 1em;
        text-align: center;
        transition: all 0.35s;
      }
    }

    &-content {
      max-height: 0;
      padding: auto;
      color: $midnight;
      background: $midnight;
      transition: all 0.35s;
      width: 100%;
      //margin-left: 5%;
    }

    input:checked {
      +.tab-label {

        //background: darken($midnight, 10%);
        // border: 1px solid #171f22;
        &::after {
          transform: rotate(90deg);
        }
      }

      ~.tab-content {
        max-height: 110vh;
        padding: 1em;
      }

      ~.mostrar {
        display: block;
      }
    }

    input[type='checkbox'] {
      position: absolute;
      opacity: 0;
      z-index: -1;
    }
  }
  .btn_editar {
    width: 150px;
    height: 50px;
    border-radius: 16px;
    font-size: 20px;
    background: $color-red;
    color: $color-amarillo;

    &:hover {
      background: $primary-color;
      color: $color-gris-light;
    }
  }
  input,
  select,
  textarea {
    border: none;
    border-color: $color-red;
    border-radius: 0px;
    box-shadow: $color-box-shadow;
  }
  .count_tamano_text {
    color: $color-dark;
    font-size: 70% !important;
  }

  .count_text_limit {
    color: $color-red  !important;
  }
}
