@import '../../../../content/scss/custom-variables';

.container-fragment-eventos {
  h2.title {
    color: $color-gris;
    font-size: 40px;
    text-align: center;
  }
  .container-swiper-eventos {
    .swiper-button-disabled {
      display: none;
    }
    .swiper-button {
      &-next, &-prev {
        width: 50px;
        height: 50px;
        color: $color-dark;
        border-radius: 50%;
        background: $color-amarillo-extrem-light;
        box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
        &::after {
          font-size: 20px;
        }
      }
      &-next {
        right: 30px;
      }
      &-prev {
        left: 30px;
      }
      @media (max-width: 999px) {
        &-next {
          right: 10px !important;
        }
        &-prev {
          left: 10px !important;
        }
      }
    }
    .card-container-eventos {
      .imagen img {
        width: 100%;
        height: 250px;
        object-fit: cover;
      }
      .body {
        border-top: $color-primary-border;
        background-color: $color-gris-light;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        .container-fecha .fecha {
          color: $color-gris;
          font-size: 15px;
          font-weight: bold;
        }
        .conatiner-title-eventos .title {
          color: $color-gris;
          font-size: 24px;
          text-align: start !important;
          font-weight: normal;
        }
        img {
          max-width: 30px;
        }
        .container-lugar, .container-fecha {
          .col-sm-auto:nth-child(2) {
            padding-left: 5px;
            padding-right: 5px;
          }
        }
        .container-lugar {
          h4 {
            margin-bottom: 0px;
          }
          h4.text-lugar {
            color: $color-red;
            font-size: 15px;
          }
          h4.ubicacion {
            color: $color-dark;
            font-size: 15px;
          }
        }
        .container-fecha {
          h4 {
            margin-bottom: 0px;
          }
          h4.text-fecha {
            color: $color-red;
            font-size: 15px;
          }
          h4.fecha {
            color: $color-dark;
            font-size: 15px;
          }
        }
      }
      .boton-ver-mas {
        background-color: $color-gris-light;
        a {
          width: 100%;
          height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          &:hover {
            background-color: $primary-color;
            color: $color-gris-light !important;
            text-decoration: none;
            button.btn-ver-mas {
              color: $color-gris-light;
            }
          }
          button.btn-ver-mas {
            color: $color-red;
            font-size: 20px;
            text-align: center;
            font-weight: normal;
          }
        }
      }
    }
  }
  .container-ver-todo {
    @media (max-width: 999px) {
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;

      div {

        &:first-child,
        &:last-child {
          display: none !important;
        }

        a {
          display: flex !important;
          align-items: center !important;
          justify-content: center !important;

          button.btn-ver-todo {
            width: 90vw !important;
          }
        }
      }
    }
    hr {
      border-top: $color-primary-border-2px;
      width: 100%;
    }
    .col-sm-auto {
      a {
        &:hover {
          text-decoration: none;
        }
        button {
          width: 300px;
          height: 50px;
          border: 2px solid $primary-color;
          border-radius: 15px;
          color: $primary-color;
          font-size: 20px;
          text-decoration: none;
          &:hover {
            background-color: $primary-color;
            color: $color-gris-light;
            text-decoration: none;
          }
        }
      }
    }
  }
}
