// Typography:
// Font, line-height, and color for body text, headings, and more.
$font-family-custom: 'Open Sans', Arial, Helvetica, sans-serif;


// colors
$primary-color: #7D9C10;
$second-usco-color: #A6B1B6;
$color-dark: #1E262B;
$color-red: #8F141B;
$color-gris: #4D626C;
$color-gris-light: #EDEFF0;
$color-gris-extrem-light: #EDEFF0;
$color-amarillo-extrem-light: #F9F6ED;
$color-amarillo: #DFD4A6;
$color-amarillo-extreme: #C7B363;
$withe-text-color: #fff;
$color-box-shadow: inset 0 -2px 0 $color-red;
$color-box-shadow-primary-color: inset 0 -2px 0 $primary-color;
$color-primary-border: 6px solid rgba(125, 156, 16, 1);
$color-primary-border-2px: 2px solid $primary-color;


// line-heights
$line-height-12: 12px;
$line-height-14: 14px;
$line-height-16: 16px;
$line-height-18: 18px;
$line-height-20: 20px;
