// Typography:
// Font, line-height, and color for body text, headings, and more.
$font-family-custom: 'Open Sans', Arial, Helvetica, sans-serif;


// colors
$primary-color: #7D9C10;
$second-usco-color: #A6B1B6;
$withe-text-color: #fff;
