@import 'custom-variables';


/* ==========================================================================
    Navbar
    ========================================================================== */
.navbar-version {
  font-size: 10px;
  color: #ccc;
}

.jh-navbar {
  background-color: $primary-color;
  padding: 0rem 1rem !important;
  #header-tabs {
    padding: 0rem 0rem !important;
  }
  .logo {
    padding: 0.7rem 0 !important;
  }

  #header-tabs {
    ul.navbar-nav {
      padding-bottom: 0rem;
      padding-top: 0rem;
      padding-left: 1rem;
      padding-right: 0rem;
      background-color: $primary-color;
      &:empty {
        padding: 0.5rem 0rem;
      }
      li.nav-item {
        margin-left: 0px !important;
        height: 70px;
        a.router-link-active {
          display: none !important;
        }
        a {
          color: $color-amarillo-extreme;
          height: 70px;
          display: flex;
          justify-content: center;
          align-items: center;
          padding-right: 18px;
          padding-left: 18px;
          &:hover {
            color: $color-amarillo-extreme;
            h4 {
              color: $color-amarillo-extreme;
            }
            background-color: $color-dark;
          }
        }
        h4 {
          margin: 0px !important;
          color: $color-gris-light;
          font-weight: bold;
          font-size: 20px;
        }
      }
    }
  }
}

.jh-navbar .profile-image {
  margin: -10px 0px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.jh-navbar .dropdown-item.active,
.jh-navbar .dropdown-item.active:focus,
.jh-navbar .dropdown-item.active:hover {
  background-color: #353d47;
}

.jh-navbar .dropdown-toggle::after {
  margin-left: 0.15em;
}

.jh-navbar ul.navbar-nav {
  padding: 0.5em;
}

.jh-navbar .navbar-nav .nav-item {
  margin-left: 1.5rem;
}

.jh-navbar a.nav-link,
.jh-navbar .no-bold {
  font-weight: 400;
}

.jh-navbar .jh-navbar-toggler {
  color: #ccc;
  font-size: 1.5em;
  padding: 10px;
}

.jh-navbar .jh-navbar-toggler:hover {
  color: #fff;
}


.jh-navbar .navbar-title {
  display: block;
  vertical-align: middle;
  color: white;
  text-transform: uppercase;
  white-space: normal;
}

.jh-navbar .navbar-title-first {
  font-size: 10px;
}

.jh-navbar .navbar-title-second {
  font-size: 20px;
}

/* ==========================================================================
    Logo styles
    ========================================================================== */
.navbar-brand.logo {
  padding: 5px 15px;
  margin-left: 3rem;
}


.jh-navbar .logo-img {
  background-size: contain;
  width: inherit;
  display: inline-block;
  vertical-align: middle;
}

/*
  tamaños de pantalla
*/

@media (min-width: 992px) {
  .jh-navbar {
    padding-right: 0px !important;
  }
}

@media (max-width: 767px) {
  .jh-navbar {
    .logo {
      margin-left: 0px;
      margin-right: 0px;
      .row {
        display: flex;
        flex-wrap: nowrap;

        .navbar-title {
          &-first {
            font-size: 10px;
          }
          &-second {
          font-size: 15px;
          }
        }
        .col-sm-auto {
          width: auto !important;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .jh-navbar-toggler {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1150px) {
  span span {
    display: none;
  }
}
